services:
  traefik:
    image: traefik:v3.6
    command:
      - --log.level=DEBUG
      - --api.insecure=true
      - --providers.docker=true
      - --entrypoints.web.address=:80
      - --entrypoints.websecure.address=:443
      - --entryPoints.websecure.http.tls=true
      - --providers.file.directory=/etc/traefik/dynamic
      - --providers.file.watch=true
      - --entryPoints.web.address=:80
      - --experimental.localPlugins.traefikServiceFabricPlugin.modulename=github.com/dariopb/traefikServiceFabricPlugin
      - --provider.plugin.traefikServiceFabricPlugin.pollInterval=4s
      - --provider.plugin.traefikServiceFabricPluginclusterManagementURL=http://dariotraefik1.southcentralus.cloudapp.azure.com:19080/
    ports:
      - 8880:80
      - 8443:443
      - 8088:8080
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./certs:/certs:ro
      - ./dynamic:/etc/traefik/dynamic:ro
    labels:
      traefik.enable: true
      traefik.http.routers.dashboard.rule: Host(`dashboard.umbrel.simonhaas.eu`)
      traefik.http.routers.dashboard.entrypoints: websecure
      traefik.http.routers.dashboard.service: api@internal
      traefik.http.routers.dashboard.tls: true
    restart: unless-stopped

  whoami:
    image: traefik/whoami
    restart: unless-stopped
    labels:
      traefik.enable: true
      traefik.http.routers.whoami.rule: Host(`whoami.umbrel.simonhaas.eu`)
      traefik.http.routers.whoami.entrypoints: websecure
      traefik.http.routers.whoami.tls: true

  umbrel:
    image: dockurr/umbrel
    pid: host
    ports:
      - 80:80
    volumes:
      - ./umbrel:/data
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped
    stop_grace_period: 1m

networks:
  default:
    external: true
    name: umbrel_main_network
