services:
  webtop:
    image: lscr.io/linuxserver/webtop:latest
    environment:
      PUID: 1000
      PGID: 1000
      TZ: Etc/UTC
    volumes:
      - ${PROJECT_DIR}/data/webtop:/config
      - ${PROJECT_DIR}/hosts:/etc/hosts:ro
    #ports:
    #  - 3000:3000 # http
    #  - 3001:3001 # https
    shm_size: 1gb
    restart: unless-stopped
    network_mode: host

  traefik:
    image: traefik:v3.6
    command:
      - --log.level=DEBUG
      - --api.insecure=true
      - --entrypoints.web.address=:80
      - --entrypoints.websecure.address=:443
      - --entryPoints.websecure.http.tls=true
      - --providers.docker=true
      - --providers.docker.exposedByDefault=false
      - --providers.file.directory=/etc/traefik/dynamic
      #- --providers.file.watch=true
      - --entryPoints.web.address=:80
      #- --experimental.localPlugins.pluginproviderdemo.modulename=github.com/traefik/pluginproviderdemo
      #- --providers.plugin.pluginproviderdemo.pollInterval.pollInterval=4s
      #- --experimental.localPlugins.plugindemo.modulename=github.com/traefik/plugindemo
      - --experimental.localPlugins.umbrel.modulename=github.com/simonhaas/umbrel
      - --providers.plugin.umbrel.pollInterval.pollInterval=4s
    ports:
      - $TRAEFIK_HTTP_PORT:80
      - $TRAEFIK_HTTPS_PORT:443
      - $TRAEFIK_ADMIN_PORT:8080
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ${PROJECT_DIR}/certs:/certs:ro
      - ${PROJECT_DIR}/dynamic:/etc/traefik/dynamic:ro
      - ${PROJECT_DIR}/plugins-local:/plugins-local:ro
    labels:
      traefik.enable: true
      traefik.http.routers.dashboard.rule: Host(`dashboard.umbrel.simonhaas.eu`)
      traefik.http.routers.dashboard.entrypoints: websecure
      traefik.http.routers.dashboard.service: api@internal
      traefik.http.routers.dashboard.tls: true
    restart: unless-stopped

  whoami:
    image: traefik/whoami
    restart: unless-stopped
    labels:
      traefik.enable: true
      traefik.http.routers.whoami.rule: Host(`whoami.umbrel.simonhaas.eu`)
      traefik.http.routers.whoami.entrypoints: websecure
      traefik.http.routers.whoami.tls: true

  umbrel:
    image: dockurr/umbrel
    pid: host
    ports:
      - $UMBREL_HTTP_PORT:80
    volumes:
      - ${PROJECT_DIR}/data/umbrel:/data
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped
    stop_grace_period: 1m

  umbrel-ui:
    #image: dockurr/umbrel
    build: 
      context: .
      dockerfile: Dockerfile.umbrel
      args:
        VERSION_ARG: 1.4.0
    volumes:
      - ${PROJECT_DIR}/data/umbrel:/data
      #- /home/umbrel/umbrel:/data # for production umbrel installs
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped
    ports:
      - 8888:80
      - 3008:3000
    labels:
      traefik.enable: true
      traefik.http.routers.umbrel.rule: Host(`umbrel.simonhaas.eu`)
      traefik.http.routers.umbrel.entrypoints: websecure
      traefik.http.routers.umbrel.tls: true
      traefik.http.routers.umbrel.service: umbrel-ui-service
      traefik.http.middlewares.umbrel-redirect.redirectscheme.scheme: https
      traefik.http.middlewares.umbrel-headers.headers.customResponseHeaders.Strict-Transport-Security: max-age=63072000; includeSubDomains; preload
      traefik.http.middlewares.umbrel-headers.headers.customResponseHeaders.Content-Security-Policy: upgrade-insecure-requests
      traefik.http.routers.umbrel.middlewares: umbrel-headers@docker
      traefik.http.services.umbrel-ui-service.loadbalancer.server.port: 80
      traefik.http.services.umbrel-ui-service.loadbalancer.passHostHeader: true

  umbrel-auth:
    build: 
      context: ./umbrel/containers/app-auth
      dockerfile: Dockerfile.dev
    volumes:
      - ${PROJECT_DIR}/umbrel/containers/app-auth:/app
    restart: unless-stopped
    #ports:
    #  - 2002:2000
    environment:
      UMBREL_AUTH_SECRET: DEADBEEF
      MANAGER_IP: 10.21.21.4
      MANAGER_PORT: 3006
      DASHBOARD_IP: 10.21.21.3
      DASHBOARD_PORT: 3004
      # docker exec auth env | grep JWT_SECRET
      JWT_SECRET: 6c7d5f239fd414af267ff7e5e25633493af8736515157d20fc2a273f8d73092c
    labels:
      traefik.enable: true
      traefik.http.routers.auth.rule: Host(`auth.umbrel.simonhaas.eu`)
      traefik.http.routers.auth.entrypoints: websecure
      traefik.http.routers.auth.tls: true

  tlsu:
    build:
      context: resolver
      dockerfile: Dockerfile
    restart: unless-stopped
    labels:
      traefik.enable: true
      traefik.http.routers.tlsu.rule: Host(`tlsu.umbrel.simonhaas.eu`)
      traefik.http.routers.tlsu.entrypoints: websecure
      traefik.http.routers.tlsu.tls: true

networks:
  default:
    external: true
    name: umbrel_main_network
