services:
  traefik:
    image: traefik:v3.6
    command:
      - --log.level=DEBUG
      - --api.insecure=true
      - --providers.docker=true
      - --entrypoints.web.address=:80
      - --entrypoints.websecure.address=:443
      - --entryPoints.websecure.http.tls=true
      - --providers.file.directory=/etc/traefik/dynamic
      - --providers.file.watch=true
      - --entryPoints.web.address=:80
      - --experimental.localPlugins.pluginproviderdemo.modulename=github.com/traefik/pluginproviderdemo
      - --experimental.localPlugins.plugindemo.modulename=github.com/traefik/plugindemo
      - --experimental.localPlugins.umbrel.modulename=github.com/simonhaas/umbrel
    ports:
      - $TRAEFIK_HTTP_PORT:80
      - $TRAEFIK_HTTPS_PORT:443
      - $TRAEFIK_ADMIN_PORT:8080
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ${PROJECT_DIR}/certs:/certs:ro
      - ${PROJECT_DIR}/dynamic:/etc/traefik/dynamic:ro
      - ${PROJECT_DIR}/plugins-local:/plugins-local:ro
    labels:
      traefik.enable: true
      traefik.http.routers.dashboard.rule: Host(`dashboard.umbrel.simonhaas.eu`)
      traefik.http.routers.dashboard.entrypoints: websecure
      traefik.http.routers.dashboard.service: api@internal
      traefik.http.routers.dashboard.tls: true
    restart: unless-stopped

  whoami:
    image: traefik/whoami
    restart: unless-stopped
    labels:
      traefik.enable: true
      traefik.http.routers.whoami.rule: Host(`whoami.umbrel.simonhaas.eu`)
      traefik.http.routers.whoami.entrypoints: websecure
      traefik.http.routers.whoami.tls: true

  umbrel:
    image: dockurr/umbrel
    pid: host
    ports:
      - $UMBREL_HTTP_PORT:80
    volumes:
      - ${PROJECT_DIR}/umbrel:/data
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped
    stop_grace_period: 1m

networks:
  default:
    external: true
    name: umbrel_main_network
